{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% for msgregister in app.flashes('msgRegister') %}
        <div class="alert alert-success" role="alert">
            {{ msgregister }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
  
   <div class="jumbotron">
    <h1>Bienvenu sur la boutique Vinted Clone</h1>
    <h2>Ici vendez et achetez tout ce que vous voulez <!DOCTYPE html></h2>
   </div>
{% endblock %}
